/* src/components/RecipeSlider.css */
.recipe-slider {
    width: 100%;
    max-width: 800px;
    margin: auto;
  }
  
  .slide-content {
    position: relative;
    text-align: center;
    color: white;
  }
  
  .slide-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }  

  .slide-image {
    width: 800px;
    height: 200px;
    object-fit: cover; /* Đảm bảo hình ảnh lấp đầy khung mà không bị méo */
    border-radius: 10px;
  }
  